<details class="thread-interface-input" open>
  <summary>DirectField</summary>
  <div class="thread-interface-input-content">
    <div{% if direct_fields_id %} id="{{ direct_fields_id }}"{% endif %} data-thread-selected-direct-fields></div>
    <button{% if direct_field_button_id %} id="{{ direct_field_button_id }}"{% endif %} class="button secondary" type="button" data-open-thread-field-selector>Fieldを追加</button>
  </div>
</details>
<details class="thread-interface-input" open>
  <summary>ThreadIF</summary>
  <div class="thread-interface-input-content">
    <div{% if interfaces_id %} id="{{ interfaces_id }}"{% endif %} data-thread-selected-interfaces></div>
    <button{% if interface_button_id %} id="{{ interface_button_id }}"{% endif %} class="button secondary" type="button" data-open-thread-interface-selector>ThreadIFを追加</button>
  </div>
</details>
{% include 'events/partials/thread_policy_editor.html' %}
