{% for implementation in thread.interface_implementations.all %}
  <details class="thread-information-entry thread-interface-entry" open>
    <summary>{{ implementation.version.name }}@{{ implementation.version.interface.creator.username }} v{{ implementation.version.version_number }}/ThreadIF</summary>
    <dl>
      {% for item in implementation.values.all %}
        <div data-thread-value="{{ item.binding.value_id }}"><dt>{{ item.field.label }}</dt><dd>{{ item.display_value }}</dd></div>
      {% empty %}
        <div><dd>表示する値はありません。</dd></div>
      {% endfor %}
    </dl>
  </details>
{% endfor %}
